{% set formcreatorURL = '/' ~ base_url|trim('/admin') ~ '/formcreator' %}
<link rel="stylesheet" href="{{ formcreatorURL }}/formcreator.css" name="form-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div id="select-from">
    <h1>Select form</h1>
<div id="form-list">
    <div id="form-added"></div>
<select id="form-selector" name="select-form">

</select>
    <button style="background: #41bea8;color: #fff;" onclick="return importForm()">Insert form on this page</button>
    <button style="color:  #eee;background: #0090D9;;" onclick="return editForm()">Edit Form</button>
    <button style="color: #eee;background: #737c81;" onclick="return deleteForm()">Delete Form</button>

</div>
</div>
<div id="main-panel">
    <h1>Create Form</h1>
    <div id="options-panel">
        <h2 style="padding-left: 3rem;">Add field</h2>
        <div id="buttons">
            <ul class="button-column">
                <li><a href="javascript:addLineForm('text')"><img style="margin: 9px 48px 9px 9px;width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/linetext.png">Line Text</a></li>
                <li><a href="javascript:addLineForm('number')"><img style="margin: 9px 48px 9px 9px;width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/linenumber.png">Line Number</a></li>
                <li><a href="javascript:addLineForm('textarea')"><img style="margin: 5px 48px 3px 9px;width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/textarea.png">Text Area</a></li>
                <li><a href="javascript:addLineForm('dropdown')"><img style="margin: 9px 48px 9px 9px;width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/dropdown.png">Dropdown</a></li>
                <li><a href="javascript:addLineForm('radio')"><img style="margin: 7px 48px 7px 9px;width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/multiple-choice.png">Multiple Choice</a></li>
                <li><a href="javascript:addLineForm('checkbox')"><img style="margin: 7px 48px 7px 9px; width: 48px;" class="button-img" src="{{ formcreatorURL }}/custom/checkboxes.png">Checkboxes</a></li>
            </ul>
            <button onclick="return saveForm()" class="save-form"><i class="fa fa-check"></i> Save Form</button>
        </div>
        <h2 style="margin-top: 20px; padding-left: 3rem;">Field Options</h2>
        <div id="field-options">

        </div>
    </div>
    <div  style="display: none" class="title-bar">
    <h2 id="form-title" style="padding-left: 1rem">Untitled Form</h2><img src="{{ formcreatorURL }}/custom/pen-icon.png">
    </div>
    <div id="form-panel">
        <div id="main-form">
            <span style="display: block;margin-top: 30px;" class="form-message">Use the buttons to create a new form.</span>
            <input type="text" class="empty">
        </div>

    </div>

</div>
<br>
<span class="formcreatorURL" style="display: none">{{ formcreatorURL }}</span>
<span class="target-page" style="display: none">{{ '../user/pages/' ~ context.order ~  context.rawRoute|trim('/') ~ '/' }}</span>
<script src="{{ formcreatorURL }}/formcreator.js"></script>
